<link rel="stylesheet" href="//cdn.jsdelivr.net/docsearch.js/1/docsearch.css" />
<script type="text/javascript" src="//cdn.jsdelivr.net/docsearch.js/1/docsearch.js"></script>

<script type="text/javascript">
    docsearch({
        apiKey: '25626fae796133dc1e734c6bcaaeac3c',
        indexName: 'docsearch',
        inputSelector: '#search-input',
        //debug: 'console.log'

        //appId: "5PRFRAX4SB",
        //apiKey: '632e51f7b8e364ad743d7ed9c9db4d96',
        //indexName: 'docs',
        //inputSelector: '#search-input'
    });
</script>



